*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #fcfcfc;
}
.container{
    width: 100%;
    height: 100vh;
}

.dropdown{
    position: relative;
    width: 110%;
}
.dropdown .dropdown-btn{
    padding: 15px 20px;
    padding: 10px; 
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.4s;
}
.dropdown .dropdown-content{
    position: absolute;
    padding: 10px;
    left: 0;
    padding: 10px;
    background-color:black;
    font-weight: 500;
    width: 95%;
    display: flex;
    flex-direction: column;
}
.dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
.dropdown .dropdown-btn::before{
    content: "";
    width: 0;
    height: 3px;
    transition: 0.3s;
    left: 0;
    bottom: 0;
    position: absolute;
}
.dropdown .dropdown-btn:hover::before{
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgba(134, 0, 134, 0.781);
    transition: 0.3s;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 10px;
    transition: 0.4s;
}

.dropdown .dropdown-content .dropdown-item:hover{
    background-color: #f4f4f456;
}