.btnSlider{
    z-index: 3;
    position: absolute;
    width: 60px;
    height: 100px;
    border: 0;
    top: 43%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
    font-weight: 600;
}

.btnSlider:hover{
    background-color: rgba(49, 49, 49, 0.918) !important;
}

.btnSlider.prev{
    left: 0%;
}

.btnSlider.next{
    right: 0%;
}


