.slider_img{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 0.2s ease-in-out;
    object-fit: cover;
    top: -100;
}
.slider_img.active{
    opacity: 1;
    top: 0;
}


.slider_img:hover .btnSlider{
    color: red;
}


