.stock{
    padding: 65px;
    color: white;
}

.stock h1{
    margin: 0;
}

.hr2s{
    margin-right: 80%;
    height: 3px;
    border: 0;
    background: linear-gradient(65deg, rgb(133, 5, 207),  rgb(168, 3, 190), rgb(46, 46, 46));
}


.scs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stockcard1{
    position: relative;
    margin-top: 30px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    color: white;
    width: 350px;
    height: 350px;
    border-radius: 15px;  
    text-align: center;  
    background: url('https://static.chaihona.ru/r/ea8e5fc9834290ae9d86eeb672dcb342/1600x-/5d0b3e27157ac.jpg') center / cover;
}

/* #FFD700 */

.stockcard1:before {
    content: "";
    background: linear-gradient(90deg, #92929234,  #e4e3e334, #888888d0);
    height: 400px;
    width: 10%;
    position: absolute;
    top: 0px;
    left: -230px;
    transform: skewX(-45deg);
}
.stockcard1:hover {
    color: #fff !important;
}
.stockcard1:hover:before {
    left: 150%;
    transition: .5s ease-in-out;
}

.stockcard2{
    background: url("https://static.chaihona.ru/r/347fb81f24ee4182fd6dd019a27b0095/1600x-/618c3de9837fe.jpg")center/cover;
    position: relative;
    margin-top: 30px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    color: white;
    width: 350px;
    height: 350px;
    border-radius: 15px;  
    text-align: center; 
}
.stockcard2:before {
    content: "";
    background: linear-gradient(90deg, #92929234,  #e4e3e334, #888888d0);
    height: 400px;
    width: 10%;
    position: absolute;
    top: 0px;
    left: -230px;
    transform: skewX(-45deg);
}
.stockcard2:hover {
    color: #fff !important;
}
.stockcard2:hover:before {
    left: 150%;
    transition: .5s ease-in-out;
}
.stockcard3{
    background: url("https://sun9-38.userapi.com/impg/Z1MZwa6_NYoxv0u_DPfclEnU9NFcGtiOpm0GlA/H-TiTN58kn8.jpg?size=807x504&quality=96&sign=43b2d3f31bc7007ec5bfea8548f2d7a7&type=album")center/cover;
    position: relative;
    margin-top: 30px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    color: white;
    width: 350px;
    height: 350px;
    border-radius: 15px;  
    text-align: center; 
}
.stockcard3:before {
    content: "";
    background: linear-gradient(90deg, #92929234,  #e4e3e334, #888888d0);
    height: 400px;
    width: 10%;
    position: absolute;
    top: 0px;
    left: -230px;
    transform: skewX(-45deg);
}
.stockcard3:hover {
    color: #fff !important;
}
.stockcard3:hover:before {
    left: 150%;
    transition: .5s ease-in-out;
}