.card-d{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    margin-top: 700px;
}

.card1{
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    color: white;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 2px 20px rgb(68, 1, 77), 0 3px 30px rgba(134, 2, 134, 0.781);
    text-align: center;  
    background: url('https://img1.akspic.ru/previews/1/9/7/6/16791/16791-muzyka-audio-tehnologii-tanec-mikrofon-x750.jpg') center / cover;
}
.card-d .card2{
    background: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/d0/4b/90/caption.jpg?w=900&h=-1&s=1")center/cover;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    color: white;
    width: 400px;
    height: 400px;
    border-radius: 15px;  
    box-shadow: 0 2px 20px rgb(68, 1, 77), 0 3px 30px rgba(134, 2, 134, 0.781);
    text-align: center; 
}
.card-d .card3{
    background: url('https://r-ugolok.ru/wp-content/uploads/2020/03/1-10.jpg')center/cover;
    position: relative;
    display: inline-block;
    box-shadow: 0 2px 20px rgb(68, 1, 77), 0 3px 30px rgba(134, 2, 134, 0.781);
    overflow: hidden;
    cursor: pointer;
    color: white;
    width: 400px;
    height: 400px;
    border-radius: 15px;  
    text-align: center; 
}

/* #FFD700 */

.card1:before {
    content: "";
    background: linear-gradient(90deg, #92929234,  #e4e3e334, #888888d0);
    height: 400px;
    width: 10%;
    position: absolute;
    top: 0px;
    left: -230px;
    transform: skewX(-45deg);
}

.card1:hover:before {
    left: 150%;
    transition: .5s ease-in-out;
}
.card1 h1{
    text-shadow: 0 0 50px black;
    margin: 0;
    padding-top: 40%;
    font-size: 45px;
}
.card2:before {
    content: "";
    background: linear-gradient(90deg, #92929234,  #e4e3e334, #888888d0);
    height: 400px;
    width: 10%;
    position: absolute;
    top: 0px;
    left: -230px;
    transform: skewX(-45deg);
}

.card2:hover:before {
    left: 150%;
    transition: .5s ease-in-out;
}

.card2 h1{
    text-shadow: 0 0 50px black;
    margin: 0;
    padding-top: 40%;
    font-size: 45px;
}
.card3:before {
    content: "";
    background: linear-gradient(90deg, #92929234,  #e4e3e334, #888888d0);
    height: 400px;
    width: 10%;
    position: absolute;
    top: 0px;
    left: -230px;
    transform: skewX(-45deg);
}

.card3:hover:before {
    left: 150%;
    transition: .5s ease-in-out;
}
.card3 h1{
    text-shadow: 0 0 50px black;
    margin: 0;
    padding-top: 40%;
    font-size: 45px;
}
