.vacheader{
    color: whitesmoke;
    padding: 40px;
    text-align: center;
    font-size: 20px;
}

.vacheaderin{
    margin-top: 66px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(31, 31, 31);
}

.vacvyb{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.vacvyb li{
    color: white;
    text-decoration: none;
    font-size: 18px;
    list-style: none;
    /* background-color: rgb(46, 46, 46); */
    border: 0;
    border-style: none;
    border-radius: 20px;
    padding: 8px 10px;
    background-color: rgb(36, 36, 36);
    box-shadow: 5px 5px 7px rgb(8, 8, 8), -5px -5px 9px rgb(61, 61, 61);
    /* box-shadow: -30px -30px 80px #FFFFFF, 30px 30px 80px rgba(26, 24, 99, 0.1); */
    transition: .2s !important;
}
.vacvyb li a{
    text-decoration: none;
    color: white;
}
.vacvyb li :hover{
    transition: .2s !important;
    color: rgb(179, 179, 179);
}